<div class="text-center mt-5">
    <h2>Entrar</h2>
    <div class="form-signin">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
                <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
            </div>
            <div class="form-group">
            </div>
            <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me, class:"form-check-input" %>
                <%= f.label "Me manter conectado" %>
            <% end -%>
            <br><%= f.submit "Login", class:"btn btn-success" %>
        <% end %>
        <br><%= render "users/shared/links" %>
    </div>
</div>