<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="bg-primary" style="height: 100vh; width: 100vw;">
        <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
            <div class="bg-light border border-dark py-5 px-4 rounded" style="width: 45vw;">
                <div class="d-flex justify-content-center mb-5"><span class="font-weight-lighter display-3">Entrar<span></div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"%>
                <%= f.password_field :password, autocomplete: "current-password", class:"form-control"%>
                <div class="row my-3">
                    <div class="col-12 d-flex justify-content-center align-items-baseline">
                        <% if devise_mapping.rememberable? -%>
                            <%= f.check_box :remember_me %>
                            <%= f.label "Me manter conectado" %>
                        <% end -%>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <%= f.submit "Login", class:"btn btn-success" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
