<p id="notice"><%= notice %></p>
<div class="container">
  <%= link_to 'Adicionar Instalação', new_record_path, class:"float-right btn btn-outline-primary" %>
  <h1>Instalações pendentes</h1>
  <% @records.each do |date_and_record| %>
    <div class="row">
      <h3 class="ml-3"><b><%= date_and_record[0].strftime("%d/%m/%Y") %></b></h3>
      
      <div class="dropdown-divider"></div>

      <div class="card-columns">
        <% date_and_record[1].each do |record| %>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <%= button_to record, method: :delete, data: { confirm: 'Are you sure?' }, class:"float-right" do%>
              &times;<%end%>
              <h5 class="card-title"><%= record.name%></h5>
              <p class="card-text">
                <b>Endereço</b>: <%= record.address%> <br>
                <b>Notas</b>: <%= record.notes %>
              </p>
            </div>
            <div class="card-body">
              <%= link_to 'Ver', record_path(record),class:"card-link" %>
              <%= link_to 'Confirmar', confirm_client_path(id: record.id), class:"card-link" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <br>
</div>
