<p id="notice"><%= notice %></p>
<div class="container">
  <h2><%= @record.name %></h2>
  <p>
    <strong>Address:</strong>
    <%= @record.address %> <br>
    <%= @record.neighborhood %> <br>
    <%= @record.city %> <br>
    <%= @record.state %>
  </p>
  <p>
    <strong>Phone:</strong>
    <%= @record.phone %>
  </p>
  <p>
    <strong>Notes:</strong>
    <%= @record.notes %>
  </p>
  <%= link_to 'Edit', edit_record_path(@record) %> |
  <%= link_to 'Back', records_path %>
</div>
