<div class="container">
    <h2 class="mb-2">Editar meios de pagamento</h2>
    <%= link_to 'Novo Meio de Pagamento', "#", class:"btn btn-success float-right mb-3" %>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Forma de pagamento</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            <% PaymentForm.all.each do |payment_form| %>
                <tr>
                    <td id="payment-form">
                        <span id="payment-form-kind"><%= payment_form.kind %></span> - <span id="payment-form-place"><%=payment_form.place %></span>
                    </td>
                    <td>
                        <%= link_to 'Editar', "#", class:"btn btn-primary" %>
                        <%= link_to 'Excluir', "#", class:"btn btn-danger #{payment_form.payments.length != 0 ? "disabled" : nil}" %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
