<%= form_with(model: secret, local: true) do |form| %>
  <% if secret.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(secret.errors.count, "error") %> prohibited this secret from being saved:</h2>

      <ul>
      <% secret.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :neighborhood %>
    <%= form.text_field :neighborhood %>
  </div>

  <div class="field">
    <%= form.label :doc_name %>
    <%= form.text_field :doc_name %>
  </div>

  <div class="field">
    <%= form.label :doc_value %>
    <%= form.text_field :doc_value %>
  </div>

  <div class="field">
    <%= form.label :secret %>
    <%= form.text_field :secret %>
  </div>

  <div class="field">
    <%= form.label :secret_password %>
    <%= form.text_field :secret_password %>
  </div>

  <div class="field">
    <%= form.label :wireless_ssid %>
    <%= form.text_field :wireless_ssid %>
  </div>

  <div class="field">
    <%= form.label :wireless_password %>
    <%= form.text_field :wireless_password %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.text_field :due_date %>
  </div>

  <div class="field">
    <%= form.label :plan_id %>
    <%= form.number_field :plan_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
