
<%= form_with(model: secret, local: true) do |form| %>
  <% if secret.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(secret.errors.count, "error") %> prohibited this secret from being saved:</h2>

      <ul>
      <% secret.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name,"Nome" %>
    <%= form.text_field :name, class:"form-control", aria:{descibedly:"nomeHelp"} %>
    <small id="nomeHelp" class="form-text text-muted">Escreva seu nome completo</small>
  </div>
    
  <div class="form-group">
    <%= form.label :address,"Endereço" %>
    <%= form.text_area :address, class:"form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :neighborhood, "Bairro" %>
    <%= form.text_field :neighborhood, class:"form-control" %>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col">
        <%= form.label :doc_name, "Documento" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <%= form.select :doc_name, options_for_select(["RG","CPF"]), {include_blank: false}, {class:"custom-select"} %>
      </div>
      <div class="col-sm-12 col-md-6">
        <%= form.text_field :doc_value, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
  
    <div class="col-sm-12 col-md 6">
      <div class="form-group mb-0">
        <%= form.label :secret, "Autenticação PPPoE" %>
        <%= form.text_field :secret, class:"form-control" %>
      </div>
      <div class="form-group">
        <small id="password-ppp" class="form-text text-muted">Senha</small>
        <%= form.text_field :secret_password, class:"form-control", aria:{descibedly:"password-ppp"} %>
      </div>
    </div>

    <div class="col-sm-12 col-md 6">
      <div class="form-group mb-0">
        <%= form.label :wireless_ssid, "SSID" %>
        <%= form.text_field :wireless_ssid, class:"form-control" %>
      </div>
      <div class="form-group">
        <small id="password-ssid" class="form-text text-muted" >Senha</small>
        <%= form.text_field :wireless_password , class:"form-control" , aria:{descibedly:"password-ssid"}%>
      </div>
    </div>
  </div>

  <div class="row mb-3">

    <div class="col-sm-12 col-md-6">
      <%= form.label :plan_id, "Plano" %>
      <%= form.select :plan_id, Plan.all.collect { |p| [ p.profile_name, p.id ] }, {include_blank: false}, class:"custom-select" %>
    </div>

    <div class="col-sm-12 col-md-6">
      <%= form.label :due_date, "Vencimento" %>
      <%= form.select :due_date, options_for_select(["10","15","20","25"],{selected: secret.due_date}), {include_blank: false}, {class:"custom-select"} %>
    </div>

  </div>

  <div class="row mb-4 ml-1 mr-1" width="100%">
    <%= form.check_box :enabled, class:"disable-switch", data: {toggle:"toggle", onstyle:"success", offstyle:"danger", on:"Ativo", off:"Inativo", width:"100%"} %>
  </div>

  <div class="row mr-1 ml-1">
    <%= form.submit "Validar", class:"btn btn-outline-success btn-block" %>
  </div>

<% end %>