    
<div class="container pt-4">
  <div class="row">
    <div class="col-12">
      <div class="mb-3 float-right">
        <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#relationshipAddModal">&plus; Nota</a>
      </div>
    </div>
  </div>
  <% @secret.relationships.order(created_at: :desc).each do |relationship| %>
    <div class="row my-2">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= relationship.created_at.strftime("%d/%m/%Y") %></h5>
            <%= relationship.description %>
            <%= button_to "Editar", edit_note_path(id: relationship.id), class:"btn btn-secondary mt-3", method: :get %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!-- Modal de adição de entrada de relacionamento -->
<div class="modal fade" id="relationshipAddModal" tabindex="-1" role="dialog" aria-labelledby="relationshipAddModalTitle" aria-hidden="true">
  <%= form_tag commit_note_path do %>
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="relationshipAddModal">Nova Nota</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Corpo do formulário de adição de relacionamento -->
          <%= hidden_field_tag :id, @secret.id %>
          <%= text_area_tag :description, "", class:"form-control my-3 px-2" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <%= submit_tag "Adicionar", class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
