  
<div class="container">
  <br>
  <div class="mb-5">
    <div class="row mb-3">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <span class="font-weight-bold">Balanço: </span> <%= number_to_currency(@secret.situation, unit: "R$") %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3 offset-9">
        <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#paymentModal">&plus; Pagamento</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <ul class="timeline">
          <%# Pegando todas as entradas das tabelas o colocando na tela %>
          <% @finances.each do |finance| %>
            <li>
              <div class="row">
                <div class="col-sm-12 col-md-7">
                  <span class="text-uppercase font-weight-bold <%= @classes[finance[1]]%>">
                    <%= finance[1]%>
                  </span>
                </div>
                <div class="col-sm-12 col-md-5">
                  <small class=" align-self-end <%= @classes[finance[1]]%>">
                    <%= finance[2] %>
                  </small>
                </div>
              </div>
              <div>
                <strong><%= number_to_currency(finance[3], :unit => "R$")%></strong>
                <%= finance[4] != "" ? "#{simple_format(finance[4], class:"mb-0")}".html_safe : nil %>
              </div>
              <small><%= finance[5] %> </small> <br>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <a href="#" class="btn btn-outline-primary btn-block btn-sm mt-2" data-toggle="modal" data-target="#dealModal">Acordo</a>
</div>
