    
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <span class="font-weight-bold">
      Endereço
    </span>
    <p>
      <%= @secret.address %>
    </p>
    <span class="font-weight-bold">
      Bairro
    </span>
    <p>
      <%= @secret.neighborhood %>
    </p>
  </li>
  <li class="list-group-item">
    <span class="font-weight-bold">
      <%= @secret.doc_name %>
    </span>
    <p>
      <%= @secret.doc_value %>
    </p>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <span class="font-weight-bold">
          Login KN
        </span>
        <p>
          <%= @secret.secret %>
        </p>
        <span class="font-weight-bold">
          Senha
        </span>
        <p>
          <%= @secret.secret_password %>
        </p>
      </div>
      <div class="col-md-6 col-sm-12">
        <span class="font-weight-bold">
          SSID
        </span>
        <p>
          <%= @secret.wireless_ssid %>
        </p>
        <span class="font-weight-bold">
          Senha Wireless
        </span>
        <p>
          <%= @secret.wireless_password %>
        </p>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <span class="font-weight-bold">
      Plano
    </span>
    <p>
      <%= @secret.plan.profile_name %>
    </p>
  </li>
</ul>
<br>