  
<div class="container">
  <br>
  <div class="mb-5">
    <div class="row mb-3">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <span class="font-weight-bold">Balanço: </span> <%= number_to_currency(@secret.situation, unit: "R$") %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3 offset-9">
        <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#paymentModal">&plus; Pagamento</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <ul class="timeline">
          <%# Pegando todas as entradas das tabelas o colocando na tela %>
          <% @finances.each do |finance| %>
            <li>
              <div class="row">
                <div class="col-sm-12 col-md-7">
                  <span class="text-uppercase font-weight-bold <%= @classes[finance[1]]%>">
                    <%= finance[1]%>
                  </span>
                </div>
                <div class="col-sm-12 col-md-5">
                  <small class=" align-self-end <%= @classes[finance[1]]%>">
                    <%= finance[2] %>
                  </small>
                </div>
              </div>
              <div>
                <strong><%= number_to_currency(finance[3], :unit => "R$")%></strong>
                <%= finance[4] != "" ? "#{simple_format(finance[4], class:"mb-0")}".html_safe : nil %>
              </div>
              <small><%= finance[5] %> </small> <br>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <a href="#" class="btn btn-outline-primary btn-block btn-sm mt-2" data-toggle="modal" data-target="#dealModal">Acordo</a>
</div>

<!-- Modal de acordo -->
<div class="modal fade" id="dealModal" tabindex="-1" role="dialog" aria-labelledby="dealModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dealModalCenterTitle">Acordo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Insira os dados do acordo
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de adição de pagamento -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentModalTitle">Registrar pagamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Corpo do formulário de adição de pagamento -->
      <%= form_tag payment_path do %>
        <%= hidden_field_tag(:id, params[:id]) %>
        <%= hidden_field_tag(:fallback, request.env['PATH_INFO']) %>
        <div class="modal-body">
        
          <div class="row">
        
            <div class="col-12 mb-1">
        
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">Data</span>
                </div>
                <%= text_field_tag :date,nil, class:"form-control paymentpicker", autocomplete:"off", data:{date:{format:"dd-mm-yyyy"}} %>
              </div>
        
            </div>
            <div class="col-12 mb-1">

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">R$</span>
                </div>
                <%= text_field_tag :value, 0, class:"form-control money-input", aria:{ label:"Cable", describedby:"basic-addon3" }, min: 0, step:".01"  %>
              </div>

            </div>
            <div class="col-12 mb-1">
            
              <div class="input-group">
                <%= select_tag :payment_form_id, options_for_select(PaymentForm.all.collect { |p| [ "#{p.kind} - #{p.place}", p.id ] }), class:"custom-select" %>
              </div>

            </div>
            <div class="col-12">
            
              <div class="input-group">
                <%= text_area_tag :note, nil, class:"form-control" %>
              </div>

            </div>

          </div>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <%= submit_tag "Confirmar", class:"btn btn-primary"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>