<%= form_with(model: @secret, local: true) do |form| %>
    <div class="container px-0 mb-2">
        <%= link_to secrets_path, class:"btn btn-primary" do%>
            <i data-feather="chevrons-left"></i> Voltar
        <%end%>
    </div>
    <div class="container border bg-white px-3 py-3">
        <h1>Editar cliente</h1>
        <%= render 'form', form: form %>
    </div>
    <div class="container px-0">
        <div class="row mt-2">
            <div class="col-4">
                <%= link_to @secret, class:"btn btn-danger btn-block" do %>
                    <i data-feather="x-circle"></i> Cancelar
                <%end%>
            </div>
            <div class="offset-4 col-4">
                <%= form.submit "Validar", class:"btn btn-info btn-block" %>
            </div>
        </div>
    </div>
<% end %>
