<div class="container pt-1">
    <h4 class="mb-2">Editar nota de <%= @relationship.created_at%></h4>
    <%= form_tag commit_note_path do  %>
        <%= hidden_field_tag :r_id, params[:id] %>
        <%= hidden_field_tag :id, @relationship.secret_id %>
        <%= text_area_tag :description, @relationship.description, class:"form-control" %>
        <%= submit_tag :Salvar, class:"btn btn-primary mt-4" %>
    <% end %>
</div>