<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Clientes cadastrados</h1>
  
  <%= link_to 'Novo Cliente', new_secret_path, class: "btn btn-outline-dark create-action-button-alignment" %>

<div class="table-responsive-md">
  <table class="table table-sm table-hover table-striped"> 
    <thead class="b-primary-soft">
      <tr>
        <th colspan="1">Id</th>
        <th >Cliente</th>
        <th >Contrato</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @secrets.each_with_index do |secret, dx| %>
      <tr class="<%= !secret.enabled ? "txt-accent font-weight-bold" : "" %>  ">
        <td class="align-middle">
          #1
        </td>
        <td class="align-middle">
          <span class="font-weight-bold"><%= secret.name %></span><br>
          <%= secret.neighborhood %>
          <%= secret.secret %>
        </td>
        <td class="align-middle">
          <%= secret.plan.profile_name %> (<%= secret.due_date %>)
        </td>
        <td class="align-middle">

          <div class="row">
            <div class="col">
              <div class="row" >
                <div class="col  mb-2">
                  <%= link_to secret, class:"btn btn-info", style:"width:100%" do %><i data-feather="file-text"></i> <% end %>
                </div>
                <div class="col mb-2" >
                  <%= link_to secret, method: :delete, data: { confirm: 'Tem certeza?' }, class:"btn btn-danger" , style:"width:100%" do %> <i data-feather="trash-2"></i> <%end%>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input type="checkbox"
                  data-toggle="toggle" 
                  class="disable-switch" 
                  data-onstyle="success" 
                  data-offstyle="danger" 
                  data-width="100%"
                  data-on='<i data-feather="wifi"></i> <script>feather.replace()</script>'
                  data-off='<i data-feather="wifi-off"></i>'
                  <%= secret.enabled ? "checked".html_safe : "" %> >
                </div>
              </div>
            </div>
          </div>
          
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>