
<p id="notice"><%= notice %></p>

<h1 style="margin-left: 10%">Clientes cadastrados</h1>

<table class="table table-responsive-lg table-hover" style="max-width: 80%; margin-left:10%"> 
  <thead class="b-primary-soft">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Secret</th>
      <th scope="col">Secret password</th>
      <th scope="col">Due date</th>
      <th scope="col">Plan</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @secrets.each do |secret| %>
    <tr class="<%= !secret.enabled ? "txt-accent" : "" %>">
        <td scope="row"><%= secret.name %></td>
        <td><%= secret.address %></td>
        <td><%= secret.secret %></td>
        <td><%= secret.secret_password %></td>
        <td><%= secret.due_date %></td>
        <td><%= secret.plan.profile_name %></td>
        <td><%= link_to 'Show', secret %></td>
        <td><%= link_to 'Edit', edit_secret_path(secret) %></td>
        <td><%= link_to 'Destroy', secret, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Secret', new_secret_path %>
