<p id="notice"><%= notice %></p>

<h1>Secrets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Neighborhood</th>
      <th>Doc name</th>
      <th>Doc value</th>
      <th>Secret</th>
      <th>Secret password</th>
      <th>Wireless ssid</th>
      <th>Wireless password</th>
      <th>Due date</th>
      <th>Plan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @secrets.each do |secret| %>
      <%= !secret.enabled ? "<tr class=\"disabled \">".html_safe : "<tr>".html_safe %>
        <td><%= secret.name %></td>
        <td><%= secret.address %></td>
        <td><%= secret.city %></td>
        <td><%= secret.state %></td>
        <td><%= secret.neighborhood %></td>
        <td><%= secret.doc_name %></td>
        <td><%= secret.doc_value %></td>
        <td><%= secret.secret %></td>
        <td><%= secret.secret_password %></td>
        <td><%= secret.wireless_ssid %></td>
        <td><%= secret.wireless_password %></td>
        <td><%= secret.due_date %></td>
        <td><%= secret.plan_id %></td>
        <td><%= link_to 'Show', secret %></td>
        <td><%= link_to 'Edit', edit_secret_path(secret) %></td>
        <td><%= link_to 'Destroy', secret, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Secret', new_secret_path %>
