<div class="container">
  <p id="notice"><%= notice %></p>

  <%= link_to 'Voltar', secrets_path, class:"btn btn-info mb-3" %>

  <div class="row">
    <div class="container">
      <div col="col">
        <h1><b><%= @secret.name %></b></h1> <div class="font-weight-light mb-5" style="font-size:25px">(Venc.: <%= @secret.due_date %>)</div>
      </div>
    </div>

    <div class="col align-self-end mb-2">
      <ul class="nav justify-content-end">
        <% if @secret.bills.where(installation: true).length == 0 %>
          <li class="nav-item">
            <a href="#" class="btn btn-danger ml-1" data-toggle="modal" data-target="#installationModal">
              Adicionar dados da instalação
            </a>
          </li>
        <% end %>
        <% if @secret.has_scheduled_block? %>
          <li class="nav-item">
            <%= link_to 'Cancelar bloqueio', unschedule_block_path(id: params[:id]), class:"btn btn-danger ml-1", method: :post %>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="#" class="btn btn-success ml-1" data-toggle="modal" data-target="#exampleModalCenter">Bloquear</a>
          </li>
        <% end %>
        <li class="nav-item ml-1">
          <%= link_to 'Editar', edit_secret_path(@secret), class:"btn btn-warning" %>
        </li>
      </ul>
    </div>
  </div>

<%# Controle das abas %>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data" aria-selected="true">Dados</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="financial-tab" data-toggle="tab" href="#financial" role="tab" aria-controls="financial" aria-selected="false">Financeiro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="relationship-tab" data-toggle="tab" href="#relationship" role="tab" aria-controls="relationship" aria-selected="false">Relação</a>
  </li>
</ul>


<div class="tab-content" id="myTabContent">
  <%# ABA - Dados %>
  <div class="tab-pane fade show active" id="data" role="tabpanel" aria-labelledby="data-tab">
    <%= render 'show_data' %>
  </div>
  <%# ABA - financeiro %>
  <div class="tab-pane fade" id="financial" role="tabpanel" aria-labelledby="financial-tab">
    <%= render 'show_financial' %>
  </div>
  
  <%# Aba de relacionamento %>
  <div class="tab-pane fade" id="relationship" role="tabpanel" aria-labelledby="relationship-tab">
    <%= render 'show_relationship' %>
  </div>
</div> <%# Fim do div de conteudo das abas %>

  <br>

  <%= link_to 'Voltar', secrets_path, class:"btn btn-info mb-3" %>
</div>

<% if !@secret.has_scheduled_block? %>
  <!-- Modal de bloqueio -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Bloquear</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= form_tag schedule_block_path do %>
          <%= hidden_field_tag :id, params[:id] %>
          <div class="modal-body">
            <div class="row">
              <div class="col-2">
                <button id="date-0" class="plus-button btn btn-outline-success" type="button">+</button> <br>
                <span id="date-0"></span> <br>
                <button id="date-0" class="minus-button btn btn-outline-danger" type="button">-</button>
              </div>
              <div class="col-2">
                <button id="date-1" class="plus-button btn btn-outline-success" type="button" disabled>+</button> <br>
                <span id="date-1"></span> <br>
                <button id="date-1" class="minus-button btn btn-outline-danger" type="button" disabled>-</button>
              </div>
              <div class="col-2">
                <button id="date-2" class="plus-button btn btn-outline-success" type="button" disabled>+</button> <br>
                <span id="date-2"></span> <br>
                <button id="date-2" class="minus-button btn btn-outline-danger" type="button" disabled>-</button>
              </div>
              <div class="col-2">
                <button id="time-0" class="plus-button btn btn-outline-success" type="button">+</button> <br>
                <span id="time-0"></span> <br>
                <button id="time-0" class="minus-button btn btn-outline-danger" type="button">-</button>
              </div>
              <div class="col-2">
                <button id="time-1" class="plus-button btn btn-outline-success" type="button">+</button> <br>
                <span id="time-1"></span> <br>
                <button id="time-1" class="minus-button btn btn-outline-danger" type="button">-</button>
              </div>
              <div class="col-2">
                <button id="time-2" class="plus-button btn btn-outline-success" type="button">+</button> <br>
                <span id="time-2"></span> <br>
                <button id="time-2" class="minus-button btn btn-outline-danger" type="button">-</button>
              </div>
            </div>
            <%= hidden_field_tag :days, 0, class:"date-0", min:0 %> 
            <%= hidden_field_tag :hours, 0, class:"time-0", min:0 %> 
            <%= hidden_field_tag :minutes, 0, class:"time-1", min:0 %> 
            <%= hidden_field_tag :seconds, 0, class:"time-2", min:0 %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <%= submit_tag :Programar, class:"btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @secret.bills.where(installation: true).length == 0 %>

  <!-- Modal de adicionar campos de instalação -->
  <div class="modal fade" id="installationModal" tabindex="-1" role="dialog" aria-labelledby="installationModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="installationModal">Instalação</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%# Campos da instalação %>
        <%= form_tag installation_details_path do  %>
          <div class="modal-body">

            <%= hidden_field_tag(:id, params[:id]) %>
            <%= hidden_field_tag(:fallback, request.env['PATH_INFO']) %>
            <div class="row">

                <div class="col-12">
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3">Realizado em</span>
                    </div>
                    <%= text_field_tag :date, nil, class:"form-control installationpicker", data:{date:{format:"dd-mm-yyyy"}}, autocomplete:"off"  %>
                  </div>
                
                </div>
                <div class="col-12">

                  <div class="input-group mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">R$</span>
                    </div>
                    <%= text_field_tag :cable, 0, class:"form-control installation-value money-input", aria:{ label:"Cable", describedby:"basic-addon1" }, min: 0, step:".01"  %>
                    <div class="input-group-append">
                      <span class="input-group-text">Cabo</span>
                    </div>
              
                  </div>
                </div>
                
                <div class="col-12">

                  <div class="input-group mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon2">R$</span>
                    </div>
                    <%= text_field_tag :bail, 0, class:"form-control installation-value money-input", aria:{ label:"Cable", describedby:"basic-addon2" }, min: 0, step:".01"  %>
                    <div class="input-group-append">
                      <span class="input-group-text">Fiança</span>
                    </div>
              
                  </div>
                </div>
                <div class="col-12">

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon2">R$</span>
                    </div>
                    <%= text_field_tag :router, 0, class:"form-control installation-value money-input", aria:{ label:"Cable", describedby:"basic-addon2" }, min: 0, step:".01"  %>
                    <div class="input-group-append">
                      <span class="input-group-text">Roteador</span>
                    </div>
                  </div>

                </div>
                <div class="col-12">

                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3">R$</span>
                    </div>
                    <%= text_field_tag :other, 0, class:"form-control installation-value money-input", aria:{ label:"Cable", describedby:"basic-addon3" }, min: 0, step:".01"  %>
                    <div class="input-group-append">
                      <span class="input-group-text">Outros</span>
                    </div>
                  </div>

                </div>

                <div class="col-12">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3">Data de vencimento</span>
                    </div>
                    <%= text_field_tag :due_date,nil, class:"form-control installationduepicker", data:{date:{format:"dd-mm-yyyy"}}, autocomplete:"off" %>
                  </div>
                </div>
                <div class="col-12">
                  <b>Total</b>:R$<span id="installationTotal">0,00</span> 
                </div>
            </div>
                
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <%= submit_tag "Registrar", class:"btn btn-primary", id:"sendInstallation" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
