<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @secret.name %>
</p>

<table class="table table-responsive-lg table-hover">
  <thead>
    <tr>
      <th>Valor</th>
      <th>Referencia</th>
      <th>Vencimento</th>
      <th>Data de Pagamento<th>
    </tr>
  </thead>
  <tbody>
    <% @secret.bills.each do |bill| %>
    <tr style="color:<%= bill.paid? ? "#1d7700" : "#AEAE00"%>">
      <td><%= bill.value%></td>
      <td><%= bill.ref_start.to_s%> - <%= bill.ref_end.to_s%></td>
      <td><%= bill.due_date.to_s%> </td>
      <td><%= bill.payment_date.to_s%> </td>
    <tr>
    <%end%>
  </tbody>
</table>

<p>
  <strong>Address:</strong>
  <%= @secret.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @secret.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @secret.state %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @secret.neighborhood %>
</p>

<p>
  <strong>Doc name:</strong>
  <%= @secret.doc_name %>
</p>

<p>
  <strong>Doc value:</strong>
  <%= @secret.doc_value %>
</p>

<p>
  <strong>Secret:</strong>
  <%= @secret.secret %>
</p>

<p>
  <strong>Secret password:</strong>
  <%= @secret.secret_password %>
</p>

<p>
  <strong>Wireless ssid:</strong>
  <%= @secret.wireless_ssid %>
</p>

<p>
  <strong>Wireless password:</strong>
  <%= @secret.wireless_password %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @secret.due_date %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @secret.plan_id %>
</p>

<p>
  <strong>Enabled?:</strong>
  <%= @secret.enabled %>
</p>

<%= link_to 'Edit', edit_secret_path(@secret) %> |
<%= link_to 'Back', secrets_path %>
