<div class="container">
  <p id="notice"><%= notice %></p>

  <%= link_to 'Voltar', secrets_path, class:"btn btn-info mb-3" %>

  <div class="row">
    <div class="container">
      <div col="col">
        <h1><b><%= @secret.name %></b></h1> <div class="font-weight-light mb-5" style="font-size:25px">(Venc.: <%= @secret.due_date %>)</div>
      </div>
    </div>

    <div class="col align-self-end mb-2">
      <ul class="nav justify-content-end">
        <% if @secret.bills.where(installation: true).length == 0 %>
          <li class="nav-item">
            <a href="#" class="btn btn-danger ml-1" data-toggle="modal" data-target="#installationModal">
              Adicionar dados da instalação
            </a>
          </li>
        <% end %>
        <li class="nav-item">
          <a href="#" class="btn btn-success ml-1" data-toggle="modal" data-target="#exampleModalCenter">Bloquear</a>
        </li>
        <li class="nav-item ml-1">
          <%= link_to 'Editar', edit_secret_path(@secret), class:"btn btn-warning" %>
        </li>
      </ul>
    </div>
  </div>

<%# Controle das abas %>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data" aria-selected="true">Dados</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="financial-tab" data-toggle="tab" href="#financial" role="tab" aria-controls="financial" aria-selected="false">Financeiro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="relationship-tab" data-toggle="tab" href="#relationship" role="tab" aria-controls="relationship" aria-selected="false">Relação</a>
  </li>
</ul>

<%# ABA - Dados %>
<div class="tab-content" id="myTabContent">
  
  <div class="tab-pane fade show active" id="data" role="tabpanel" aria-labelledby="data-tab">

    <ul class="list-group list-group-flush">
      <li class="list-group-item">

        <span class="font-weight-bold">
          Endereço
        </span>
        <p>
          <%= @secret.address %>
        </p>
        <span class="font-weight-bold">
          Bairro
        </span>
        <p>
          <%= @secret.neighborhood %>
        </p>

      </li>
      <li class="list-group-item">

        <span class="font-weight-bold">
          <%= @secret.doc_name %>
        </span>
        <p>
          <%= @secret.doc_value %>
        </p>

      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <span class="font-weight-bold">
              Login KN
            </span>
            <p>
              <%= @secret.secret %>
            </p>
            <span class="font-weight-bold">
              Senha
            </span>
            <p>
              <%= @secret.secret_password %>
            </p>
          </div>
        
          <div class="col-md-6 col-sm-12">
            <span class="font-weight-bold">
              SSID
            </span>
            <p>
              <%= @secret.wireless_ssid %>
            </p>
            <span class="font-weight-bold">
              Senha Wireless
            </span>
            <p>
              <%= @secret.wireless_password %>
            </p>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">
          Plano
        </span>
        <p>
          <%= @secret.plan.profile_name %>
        </p>
      </li>
    </ul>

    <br>
  </div>

  <%# ABA - financeiro %>
  <div class="tab-pane fade" id="financial" role="tabpanel" aria-labelledby="financial-tab">

    <div class="container">
      
      <br>
      
      <div class="mb-5">
        
        <div class="row mb-3">

          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <span class="font-weight-bold">Balanço: </span> <%= @secret.situation %>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
        
          <div class="col-3 offset-9">
            <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#paymentModal">&plus; Pagamento</a>
          </div>

        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            
            <ul class="timeline">

              <%# Pegando todas as entradas das tabelas o colocando na tela %>
              <% @finances.each do |finance| %>
              <li>

                <div class="row">
                  <div class="col-sm-12 col-md-7">
                    <span class="text-uppercase font-weight-bold <%= @classes[finance[1]]%>">
                      <%= finance[1]%>
                    </span>
                  </div>
                  <div class="col-sm-12 col-md-5">
                    <small class=" align-self-end <%= @classes[finance[1]]%>">
                      <%= finance[2] %>
                    </small>
                  </div>
                </div>
                <div>
                  <strong>R$<%= finance[3]%></strong> 
                  <%= finance[4] != "" ? "#{simple_format(finance[4], class:"mb-0")}".html_safe : nil %>
                </div>
                <small><%= finance[5] %> </small> <br>
              </li>
              <% end %>

            </ul>

          </div>
        </div>
      </div>
      <a href="#" class="btn btn-outline-primary btn-block btn-sm mt-2" data-toggle="modal" data-target="#dealModal">Acordo</a>
    
    </div>
      
  </div>
  
  <%# Aba de relacionamento %>
  <div class="tab-pane fade" id="relationship" role="tabpanel" aria-labelledby="relationship-tab">


    <div class="container pt-4">
      <div class="row">
        <div class="col-12">
          <div class="mb-3 float-right">
            <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#relationshipAddModal">&plus; Nota</a>
          </div>
        </div>
      </div>

      <% @secret.relationships.order(created_at: :desc).each do |relationship| %>
        <div class="row my-2">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= relationship.created_at %></h5>
                <%= relationship.description %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>

    <!-- Modal de adição de entrada de relacionamento -->
    <div class="modal fade" id="relationshipAddModal" tabindex="-1" role="dialog" aria-labelledby="relationshipAddModalTitle" aria-hidden="true">
      <%= form_tag add_note_path do %>
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="relationshipAddModal">Nova Nota</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Corpo do formulário de adição de relacionamento -->
              <%= hidden_field_tag :id, @secret.id %>
              <%= text_area_tag :description, "", class:"form-control my-3 px-2" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <%= submit_tag "Adicionar", class:"btn btn-primary" %>
            </div>
          </div>
        </div>

      <% end %>
    </div>
    
  </div>

</div> <%# Fim do div de conteudo das abas %>

  <br>

  <%= link_to 'Voltar', secrets_path, class:"btn btn-info mb-3" %>
</div>

<!-- Modal de bloqueio -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Cancelar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Inserir tempo para bloqueio
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Programar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de bloqueio -->
<div class="modal fade" id="dealModal" tabindex="-1" role="dialog" aria-labelledby="dealModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dealModalCenterTitle">Acordo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Insira os dados do acordo
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<% if @secret.bills.where(installation: true).length == 0 %>

  <!-- Modal de adicionar campos de instalação -->
  <div class="modal fade" id="installationModal" tabindex="-1" role="dialog" aria-labelledby="installationModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="installationModal">Instalação</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%# Campos da instalação %>
        <%= form_tag installation_details_path do  %>
          <div class="modal-body">

            <%= hidden_field_tag(:id, params[:id]) %>
            <%= hidden_field_tag(:fallback, request.env['PATH_INFO']) %>
            <div class="row">

                <div class="col-12">
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3">Realizado em</span>
                    </div>
                    <%= text_field_tag :date, nil, class:"form-control installationpicker", data:{date:{format:"dd-mm-yyyy"}}, autocomplete:"off"  %>
                  </div>
                
                </div>
                <div class="col-12">

                  <div class="input-group mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">R$</span>
                    </div>
                    <%= number_field_tag :cable, 0, class:"form-control installation-value", aria:{ label:"Cable", describedby:"basic-addon1" }, min: 0, step:".01", value:"0.00" %>
                    <div class="input-group-append">
                      <span class="input-group-text">Cabo</span>
                    </div>
              
                  </div>
                </div>
                
                <div class="col-12">

                  <div class="input-group mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon2">R$</span>
                    </div>
                    <%= number_field_tag :bail, 0, class:"form-control installation-value", aria:{ label:"Cable", describedby:"basic-addon2" }, min: 0, step:".01", value:"0.00" %>
                    <div class="input-group-append">
                      <span class="input-group-text">Fiança</span>
                    </div>
              
                  </div>
                </div>
                <div class="col-12">

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon2">R$</span>
                    </div>
                    <%= number_field_tag :router, 0, class:"form-control installation-value", aria:{ label:"Cable", describedby:"basic-addon2" }, min: 0, step:".01", value:"0.00" %>
                    <div class="input-group-append">
                      <span class="input-group-text">Roteador</span>
                    </div>
                  </div>

                </div>
                <div class="col-12">

                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3">R$</span>
                    </div>
                    <%= number_field_tag :other, 0, class:"form-control installation-value", aria:{ label:"Cable", describedby:"basic-addon3" }, min: 0, step:".01", value:"0.00" %>
                    <div class="input-group-append">
                      <span class="input-group-text">Outros</span>
                    </div>
                  </div>

                </div>

                <div class="col-12">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3">Data de vencimento</span>
                    </div>
                    <%= text_field_tag :due_date,nil, class:"form-control installationduepicker", data:{date:{format:"dd-mm-yyyy"}}, autocomplete:"off" %>
                  </div>
                </div>
                <div class="col-12">
                  <b>Total</b>:R$<span id="installationTotal">0,00</span> 
                </div>
            </div>
                
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <%= submit_tag "Registrar", class:"btn btn-primary", id:"sendInstallation" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
<!-- Modal de adição de pagamento -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentModalTitle">Registrar pagamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Corpo do formulário de adição de pagamento -->
      <%= form_tag payment_path do %>
        <%= hidden_field_tag(:id, params[:id]) %>
        <%= hidden_field_tag(:fallback, request.env['PATH_INFO']) %>
        <div class="modal-body">
        
          <div class="row">
        
            <div class="col-12 mb-1">
        
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">Data</span>
                </div>
                <%= text_field_tag :date,nil, class:"form-control paymentpicker", autocomplete:"off", data:{date:{format:"dd-mm-yyyy"}} %>
              </div>
        
            </div>
            <div class="col-12 mb-1">

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">R$</span>
                </div>
                <%= number_field_tag :value, 0, class:"form-control", aria:{ label:"Cable", describedby:"basic-addon3" }, min: 0, step:".01", value:"0.00" %>
              </div>

            </div>
            <div class="col-12 mb-1">
            
              <div class="input-group">
                <%= select_tag :payment_form_id, options_for_select(PaymentForm.all.collect { |p| [ "#{p.kind} - #{p.place}", p.id ] }), class:"custom-select" %>
              </div>

            </div>
            <div class="col-12">
            
              <div class="input-group">
                <%= text_area_tag :note, nil, class:"form-control" %>
              </div>

            </div>

          </div>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <%= submit_tag "Confirmar", class:"btn btn-primary"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
$(function(){
  var date = new Date();
  var today = date.getDate() + "/" +  (date.getMonth() + 1)  + "/" + date.getFullYear();
  
  /* Inicializando pickers modal de adição das informações de instalação */
  console.log(today)
  $(".installationpicker").datepicker({ 
      language: "pt-BR",
      endDate: today
  });

  $(".installationduepicker").datepicker({ 
    language: "pt-BR",
    startDate: today
  });

  $(".paymentpicker").datepicker({ 
    language: "pt-BR",
  });


  /* Soma dos valores e mascara
  dos campos de data do modal de adicionar campos de instalação */
  $(".installation-value").keyup(function(){
    var objects = $(".installation-value");
    var values = 0;

    for(var i = 0; i < objects.length; i++){
      if (objects[i].value == ""){
        objects[i].value = 0;
      }

      objects[i].value = Math.floor(parseFloat(objects[i].value) * 100) / 100

      values = parseFloat(values) + parseFloat(objects[i].value);
    }

    $("#installationTotal").html(values);
  })


})
</script>