<div class="container">
  <p id="notice"><%= notice %></p>

  <%= link_to 'Voltar', secrets_path, class:"btn btn-info mb-3" %>

  <div class="row">
    <div class="container">
      <div col="col">
        <h1><b><%= @secret.name %></b></h1> <div class="font-weight-light mb-5" style="font-size:25px">(Venc.: <%= @secret.due_date %>)</div>
      </div>
    </div>

    <div class="col align-self-end mb-2">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a href="#" class="btn btn-success ml-2" data-toggle="modal" data-target="#exampleModalCenter">Bloquear</a>
        </li>
        <li class="nav-item ml-1">
          <%= link_to 'Editar', edit_secret_path(@secret), class:"btn btn-warning" %>
        </li>
      </ul>
    </div>
  </div>

<%# Controle das abas %>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data" aria-selected="true">Dados</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="financial-tab" data-toggle="tab" href="#financial" role="tab" aria-controls="financial" aria-selected="false">Financeiro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="relationship-tab" data-toggle="tab" href="#relationship" role="tab" aria-controls="relationship" aria-selected="false">Relação</a>
  </li>
</ul>

<%# ABA - Dados %>
<div class="tab-content" id="myTabContent">
  
  <div class="tab-pane fade show active" id="data" role="tabpanel" aria-labelledby="data-tab">

    <ul class="list-group list-group-flush">
      <li class="list-group-item">

        <span class="font-weight-bold">
          Endereço
        </span>
        <p>
          <%= @secret.address %>
        </p>
        <span class="font-weight-bold">
          Bairro
        </span>
        <p>
          <%= @secret.neighborhood %>
        </p>

      </li>
      <li class="list-group-item">

        <span class="font-weight-bold">
          <%= @secret.doc_name %>
        </span>
        <p>
          <%= @secret.doc_value %>
        </p>

      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <span class="font-weight-bold">
              Login KN
            </span>
            <p>
              <%= @secret.secret %>
            </p>
            <span class="font-weight-bold">
              Senha
            </span>
            <p>
              <%= @secret.secret_password %>
            </p>
          </div>
        
          <div class="col-md-6 col-sm-12">
            <span class="font-weight-bold">
              SSID
            </span>
            <p>
              <%= @secret.wireless_ssid %>
            </p>
            <span class="font-weight-bold">
              Senha Wireless
            </span>
            <p>
              <%= @secret.wireless_password %>
            </p>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">
          Plano
        </span>
        <p>
          <%= @secret.plan.profile_name %>
        </p>
      </li>
    </ul>

    <br>
  </div>

  <%# Aba do financeiro %>
  <div class="tab-pane fade" id="financial" role="tabpanel" aria-labelledby="financial-tab">

    <div class="container">
      
      <br>
      <div class="mb-5">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <ul class="timeline">
              
              <li class="">
                <div class="row">
                  <div class="col-sm-12 col-md-7">
                    <span class="text-uppercase font-weight-bold text-success">
                      Consumo
                    </span>
                  </div>
                  <div class="col-sm-12 col-md-5">
                    <small class="text-success align-self-end">
                      01/10/2018 - 05/10/2018
                    </small>
                  </div>
                </div>
                <p>
                  R$<span class="font-weight-bold">50,00 </span>
                </p>
              </li>
              <li>
                <div class="row">
                  <div class="col-sm-12 col-md-7">
                    <span class="text-uppercase font-weight-bold text-success">
                      Pagamento
                    </span>
                  </div>
                  <div class="col-sm-12 col-md-5">
                    <small class="text-success align-self-end">
                      12/11/2018
                    </small>
                  </div>
                </div>
                <p>
                  R$<span class="font-weight-bold">50,00 </span>
                </p>
              </li>
              <li>
                <div class="row">
                  <div class="col-sm-12 col-md-7">
                    <span class="text-uppercase font-weight-bold text-success">
                      Consumo
                    </span>
                  </div>
                  <div class="col-sm-12 col-md-5">
                    <small class="text-success align-self-end">
                      01/10/2018 - 05/10/2018
                    </small>
                  </div>
                </div>
                <p>
                  R$<span class="font-weight-bold">50,00 </span>
                </p>
              </li>
              <li>
                <div class="row">
                  <div class="col-sm-12 col-md-7">
                    <span class="text-uppercase font-weight-bold text-success">
                      Consumo - proporcional
                    </span>
                  </div>
                  <div class="col-sm-12 col-md-5">
                    <small class="text-success align-self-end">
                      01/10/2018 - 05/10/2018
                    </small>
                  </div>
                </div>
                <p>
                  R$<span class="font-weight-bold">10,00 </span><br>
                  <small> Vencimento: 10/10/2018</small>
                </p>
              </li>
              <li>
                <div class="row">
                  <div class="col-sm-12 col-md-7">
                    <span class="text-uppercase font-weight-bold text-success">
                      Instalação
                    </span>
                  </div>
                  <div class="col-sm-12 col-md-5">
                    <small class="text-success align-self-end">
                      01/10/2018
                    </small>
                  </div>
                </div>
                <p>
                  R$<span class="font-weight-bold">90,00 </span> <br>
                  <span class="font-weight-bold">Obs.:</span> Fiança: R$50,00 / Cabo: R$20,00 / R$20,00 Adiantamento
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    
    </div>

  </div>
  
  <%# Aba de relacionamento %>
  <div class="tab-pane fade" id="relationship" role="tabpanel" aria-labelledby="relationship-tab">

  </div>

</div> <%# Fim do div de conteudo das abas %>

  <br>

  <%= link_to 'Voltar', secrets_path, class:"btn btn-info mb-3" %>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Cancelar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Inserir tempo para bloqueio
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Programar</button>
      </div>
    </div>
  </div>
</div>