<%= form_with(model: plan, local: true) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :profile_name, "Nome do Perfil" %>
    <%= form.text_field :profile_name, class:"form-control" %>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <%= form.label :rate_limit, "Taxa" %>
        <%= form.text_field :rate_limit, class:"form-control", aria:{descibedly:"rateHelp"}, placeholder:"***k/****k" %>
        <small id="rateHelp" class="form-text text-muted">Ex.: 100k/1000k<br> (100Kbps de upload e 1Mbps de download)</small>
      </div>
    </div>
    <div class="col-6">

      <div class="form-group">
        <%= form.label :value, "Valor" %>
        <%= form.text_field :value, class:"form-control" %>
      </div>

    </div>
  </div>



  <div class="form-group">
    <%= form.submit "Criar plano", class:"btn btn-outline-success" %>
  </div>
<% end %>
