<%= form_with(model: @plan, local: true) do |form| %>
<div class="container px-0 mb-3 ">
<h1 class="font-weight-light">Editar plano</h1>
<%= link_to plans_path, class:"btn btn-warning" do%>
<i data-feather="chevrons-left"></i> Voltar
<%end%>
</div>
<div class="container border border-dark rounded bg-white">
    <%= render 'form',form: form %>
</div>
<div class="container px-0 pt-3">
<div class="form-group d-flex">
    <%= link_to @plan, class:"btn btn-danger" do %>
    <i data-feather="x-circle"></i> Cancelar
    <%end%>
    <%= form.submit "Atualizar plano", class:"btn btn-success ml-auto" %>
</div>


</div>
<% end %>